@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/plus-jakarta-sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #060911;
  --background-secondary: #0f172a;
  --button-auth: #d8b4fe;
  --dots-color: #4c0487;
  --aurora-1: #3a29ff;
  --aurora-2: #9333ea;
  --aurora-3: #7e22ce;
  --border-color: #a855f7;
  --order-and-button-color: #f97316;
  --card-color: #475569;
  --card-color-opacity-one: #475569;
  --card-color-opacity-two: #475569;
  --background-secondary-opacity: #0f172a;
  --bg-history-opacity: #db2777;
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-28 mx-auto;
  }

  .background-dots {
    background-image: radial-gradient(
      circle,
      var(--dots-color) 2px,
      transparent 1px
    );
    background-size: 30px 30px;
  }

  .shadow-custom {
    box-shadow: 5px 5px var(--border-color);
  }
}

@layer base {
  section {
    @apply py-[75px];
  }
}

@media only screen and (max-width: 361px) {
  .text-mini {
    @apply text-[0.6rem];
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full px-8;
  }

  section {
    @apply py-[35px];
  }
}

@media only screen and (max-width: 640px) {
  .container {
    @apply w-full px-5;
  }

  section {
    @apply py-[25px];
  }

  .icon-close {
    @apply absolute top-10 left-7;
  }
}
